a.bibbase.bibbase_page.link {
	display : none;
}

/*a[title*=Demo] { background-image: url(URL to the icon of your choice) }*/
img.bibbase_icon[title*=Demo] { display: none; }
img.bibbase_icon[title*=Demo] + span.bibbase_icon_text { display: inline; }